<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center;">Budget et Économies</h1>
        <form [formGroup]="budgetForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Titre</label>
                                <input type="text" id="title" class="form-control" formControlName="title">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createdBy">Créé par</label>
                                <input type="text" id="createdBy" class="form-control" formControlName="createdBy">
                            </div>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateFrom">Date début</label>
                                <input type="Date" id="dateFrom" class="form-control" formControlName="dateFrom">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dateTo">Date fin</label>
                                <input type="date" id="dateTo" class="form-control" formControlName="dateTo">
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>
            <hr class="line-1">   
            <div class="row">
                <div class="col-md-12">
                    <label for="numberOfPayers">IL y a ({{ numberOfResources }}) ressources pour ce budget</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button tyep="button" class="btn btn-dark btn-add" (click)="generateBudget()"><i class="bi bi-calculator-fill"></i>&nbsp;Calculer</button>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row" *ngFor="let budget of budgetGenerated; let indexOfBudget = index;">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <span>{{budget.resourceName}}</span>
                                </div>
                                <hr class="line-1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <span>Dépenses personnelles (annuel) :</span>
                            </div>
                            <div class="col-md-2" style="text-align: right;">
                                <span>{{budget.personalExpenses}}&nbsp;$</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                               <span>Dépenses partagées (annuel) :</span>
                            </div>
                            <div class="col-md-2" style="text-align: right;">
                                <span>{{budget.sharedExpenses}}&nbsp;$</span>
                            </div>
                        </div>
                        <div class="row">                                                    
                           <div class="col-md-8">
                                <label for="personnalFrequency">Choisiseez la fréquence des paiements pour les dépenses annuelles.</label>
                                <select id="personnalFrequency" class="form-control frequency-generate" (change)="onChangeBudgetFrequency(indexOfBudget)">
                                    <option value="" selected="selected">--Sélectionnez--</option>
                                    <option *ngFor="let frequency of budgetEntryFrequecies; let indexOfelement = index;" value="{{frequency.id}}">{{frequency.description}}</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <div style="border: 2px solid black; height: 40px; width: 75px; padding: 5px;">
                                    <span>{{personalBudget[indexOfBudget].persoExpWithFreq}}</span>
                                </div>
                            </div>
                            <div>
                                <hr class="line-2">
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-8">
                                <label for="sharedFrequency">Fréquence des paiements</label>
                                <select id="sharedFrequency" class="form-control" (change)="onChangeBudgetFrequency(indexOfBudget, 'shared')">
                                    <option value="" selected="selected">--Sélectionnez--</option>
                                    <option *ngFor="let frequency of budgetEntryFrequecies; let indexOfelement = index;" value="{{frequency.id}}">{{frequency.description}}</option>
                                </select>
                            </div>
                            <div class="com-md-4">
                                <span>{{budget.sharedExpWithFreq}}</span>
                            </div>
                        </div> -->

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


