label {
    font-weight: lighter;
}

.line-1 {
    text-align: left;
    color: white;
    height: 1px;
    width: 50%;
}

.line-1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 2px;
    width: 75%;
}

.frequency-generate {
    width: 100px;
}

