<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a aria-current="page">Liste des budgets</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Budget et Économies</h1>
        <div class="row">
            <h3>Liste des budgets</h3>
            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="createNewBudget()">Créer un nouveau budget</button>
            </div>
        </div>
    </div>
</div>

