<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Accueil</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-12">
        <h1>Budget et Économies</h1>

        <body>
            <div class="row">
                <div class="col-md-12">
                    <h3>Bienvevue</h3>
                </div>
            </div>
            <div *ngIf="!signin && !signup">
                <div class="row">
                    <div class="col-md-12">
                        <app-signin></app-signin>
                    </div>
                </div>
            </div> 
            <div *ngIf="signin">
                <div class="row">
                    <div class="col-md-12">
                        <app-signin></app-signin>
                    </div>
                </div>
            </div> 
            <div *ngIf="signup">
                <div class="row">
                    <div class="col-md-12">
                        <app-signup></app-signup>
                    </div>
                </div>
            </div>
            <div *ngIf="signin || !signup">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <br><span>Pas inscrit?</span>&nbsp;&nbsp;<button type="button" class="btn btn-dark" (click)="goToSignup()">Créer un compte</button>
                        </div>
                    </div>
                </div>
            </div> 
        </body>
    </div>
</div>
