.line-1 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    height: 2px;
    width: 90%;
}

.breadcrumb {
    background: transparent;
}

.btn-toolBar {
    background: transparent;
    color: black;
    border:none;
    font-size: 20px;
    text-align: right;
}

label {
    font-weight: lighter;
}

.head-toolbar {
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(50, 50, 50);
    width: 100%;
    height: 40px;
}

input {
    height: 30px;
}

.btn-add {
    min-width: 125px;
}

.btn-resource {
    min-width: 40px;
    font-size: 18px;
}

.control-table {
  border: none;
  background: transparent;
  color: rgb(248, 152, 7);
}

.incomes-table {
    color: beige;
    border: 1px solid rgb(200, 200, 200);
    padding: 15px;
}

.incomes-th {
    background-color: rgb(50, 50, 50);
    color: beige;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 15px;
}

.incomes-td {
    color: beige;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 15px;
}

.incomes-total {
    background-color: rgb(37, 71, 37);
    color: beige;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 15px;
}

.incomes-total-left {
    background-color: rgb(125, 125, 125);
    color: beige;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 15px;
}

.grid-toolbar {
    height: 30px;
    text-align: right;
    background-color: rgb(75, 75, 75);
    color: black;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 15px;
}

.expenses-total {
    background-color: rgb(109, 30, 24);
    color: beige;
    border: 1px solid rgb(200, 200, 200);
    padding-left: 15px;
}

.ag-theme-balham {
    // width: 724px;
    
    min-width: 400px;
    height: 450px;
    // border: 2px solid black;
    // border-radius: 5px;
    // --ag-foreground-color: black;
    --ag-background-color: rgb(125, 125, 125);
    --ag-header-background-color: rgb(75, 75, 75);
    --ag-header-foreground-color: rgb(248, 152, 7);
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 12px;
    // --ag-control-panel-background-color:rgb(125, 125, 125);
}

.grid-header {
    background: rgb(125, 125, 125);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
    max-width: 1500px; min-width: 600px;
    height: 40px;
    padding: 5px;
    font-variant: small-caps;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 20px;
}
  
.grid-tools {
    font-size: 20px;
    color: black;
    border: none;
    background: none;
    :hover {
    color:rgb(175, 175, 175);
    } 
}

// accordion

.accordion-header-text {
    font-size: 20px;
    color: rgb(248, 152, 7);
}

.accordion-body {
    background-color: rgb(60, 60, 60);
}

.mat-expansion-panel-back {
    background-color: rgb(50, 50, 50);
}

