<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="budgets">Liste des budgets</a></li>
        <li class="breadcrumb-item active" aria-current="page">Nouveau budget</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Budget et Économies</h1>
        <form [formGroup]="budgetForm">
            <div class="row">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" id="title" class="form-control" formControlName="title">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateFrom">Date début</label>
                            <input type="Date" id="dateFrom" class="form-control" formControlName="dateFrom">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateTo">Date fin</label>
                            <input type="date" id="dateTo" class="form-control" formControlName="dateTo">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="createdBy">Créé par</label>
                            <input type="text" id="createdBy" class="form-control" formControlName="createdBy">
                        </div>
                    </div>
                </div>
            </div>
            <hr class="line-1">
            <div class="row">
                <h3 style="color: rgb(37, 71, 37);">Revenus</h3>
                <table class="incomes-table">
                    <tr >
                        <th class="incomes-th">Type de revenu</th>
                        <th class="incomes-th">Montant</th>
                        <th class="incomes-th">Fréquence</th>
                        <th class="incomes-th">Annuel</th>
                    </tr>
                    <tr *ngFor="let item of incomesList">
                        <td class="incomes-td">{{item.type}}</td>
                        <td class="incomes-td">{{item.amount}}</td>
                        <td class="incomes-td">{{item.frequency}}</td>
                        <td class="incomes-td">{{item.annual}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="incomes-total">Total :</td>
                        <td class="incomes-total">{{incomesTotal}}</td>
                    </tr>
                </table>
            </div>
            <hr class="line-1">
            <div class="row">
                <h3 style="color: rgb(109, 30, 24);">Dépenses</h3>
                <table class="incomes-table">
                    <tr >
                        <th class="incomes-th">Type de dépense</th>
                        <th class="incomes-th">Montant</th>
                        <th class="incomes-th">Fréquence</th>
                        <th class="incomes-th">Annuel</th>
                    </tr>
                    <tr *ngFor="let item of expensesList">
                        <td class="incomes-td">{{item.type}}</td>
                        <td class="incomes-td">{{item.amount}}</td>
                        <td class="incomes-td">{{item.frequency}}</td>
                        <td class="incomes-td">{{item.annual}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="expenses-total">Total :</td>
                        <td class="expenses-total">{{expensesTotal}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>